.photo-main{
    width: 960px;
    height: 1000px;
    background-color: white;
    -webkit-border-radius: 10px;
    margin: auto;
    position: relative;
    top: 150px;
}
.photo-operation{
    height: 30px;
    width: 960px;
}
.paging-my{
    width: 780px;
    margin: auto;
}
.s-photo{

}