<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <meta charset="utf-8">
    <link href="css/style.css" th:href="@{/static/css/style.css}" type="text/css" rel="stylesheet" >
    <script src="js/jquery-3.3.1.min.js" th:src="@{/static/js/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <script src="js/index.js" th:src="@{/static/js/index.js}" type="text/javascript"></script>
    <link rel="icon" href="images/favicon.ico" th:href="@{/static/images/favicon.ico}" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" th:href="@{/static/images/favicon.ico}" type="image/x-icon" />
</head>
<body>
<div class="line-top"></div>
<div class="main">
    <div class="row-top">
        <h1><a href="index.html"> <img src="images/logo.png" th:src="@{/static/images/logo.png}" ></a></h1>
    </div>
    <div class="sf-menu">
        <nav>
            <ul >
                <li class="actives"><a href="index.html">&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="photo.html" >&nbsp;&nbsp;&nbsp;相册&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="#">&nbsp;&nbsp;&nbsp;联系我&nbsp;&nbsp;&nbsp;</a></li>
                <li class="drop-down"><a href="#">&nbsp;&nbsp;&nbsp;我的文章&nbsp;&nbsp;&nbsp;</a>
                    <div class="drop-down-menu">
                    <ul >
                        <li><a href="#">&nbsp;&nbsp;&nbsp;生活&nbsp;&nbsp;&nbsp;</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;学习&nbsp;&nbsp;&nbsp;</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;爱好&nbsp;&nbsp;&nbsp;</a></li>
                    </ul>
                    </div>
                </li>
                <li><a href="#">&nbsp;&nbsp;&nbsp;音乐&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="#">&nbsp;&nbsp;&nbsp;个人档案&nbsp;&nbsp;&nbsp;</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="box-sl">
<div id="box-slider">
    <div id="list-img" class="listimg">
        <img src="images/slide-1.jpg" th:src="@{/static/images/slide-1.jpg}">
        <img src="images/slide-2.jpg" th:src="@{/static/images/slide-2.jpg}">
    </div>
    <div id="arrow">
        <a href="javascript:;" id="prev" class="arrow-s">&lt;</a>
        <a href="javascript:;" id="next" class="arrow-s">&gt;</a>
    </div>
</div>
</div>
<br><br>
<h1 class="motto">人生格言：只要玩不死就往死里玩</h1>
<hr>
<div class="main">
    <div class="site-content">
        <div class="post-content">
            <a href="#"><img src="images/slide-2.jpg"></a>
            <a class="post-a-title" href="#"><span class="post-title">标题java程序员必经之路</span></a>
            <div class="post-a-main">
                <a class="a-connect" href="#">主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主

                </a>
            </div>
        </div>
        <div style="width: 640px;height: 20px"></div>
        <div class="post-content">
            <a href="#"><img src="images/slide-2.jpg"></a>
            <a class="post-a-title" href="#"><span class="post-title">标题java程序员必经之路</span></a>
            <div class="post-a-main">
                <a class="a-connect" href="#">主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主要类容主

                </a>
            </div>
        </div>
        <div style="width: 640px;height: 20px"></div>
    </div>
    <div class="widget-area">
       <div class="widget-area-update">
           <h2>最新更新</h2>
           <div class="widget-cen">
               <div style="width: 240px ;height: 10px"></div>
               <div class="widget-update"><a class="a-connect" href="#">你好</a></div>
               <div style="width: 240px ;height: 10px"></div>
               <div class="widget-update"><a class="a-connect" href="#">你好</a></div>
               <div style="width: 240px ;height: 10px"></div>
           </div>
           <h2>站长推荐</h2>
           <div class="widget-cen">
               <div style="width: 240px ;height: 10px"></div>
               <div class="widget-update"><a class="a-connect" href="#">你好</a></div>
               <div style="width: 240px ;height: 10px"></div>
               <div class="widget-update"><a class="a-connect" href="#">你好</a></div>
               <div style="width: 240px ;height: 10px"></div>
           </div>
           <div style="width: 240px ;height: 10px"></div>
       </div>
        <div style="width: 240px ;height: 10px"></div>
    </div>
</div>

<div class="s-copy">
    <hr>
    Copyright &copy;2019 郑文元</div>

</body>
</html>